---
layout: default
---
<!-- Page Header -->
<div class="page-header">
    <div class="page-header-inner">
        <div class="page-header-content">
            <h1>{{ page.title | upcase }}</h1>
            {% if page.lead %}<p class="lead">{{ page.lead }}</p>{% endif %}
        </div>
        <div class="page-header-logo">
            <img src="https://raw.githubusercontent.com/muhack/muhack_svg/refs/heads/master/loghi/logo.svg" alt="MuHack Logo">
        </div>
    </div>
</div>

<!-- Content -->
<div class="content-wrapper">
    <div class="about-content">
        {{ content }}
    </div>
</div>
